<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.boggyb.androidmirror">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:icon="@mipmap/ic_app_icon"
    android:allowBackup="false"
    android:label="Android Mirror"
    android:requestLegacyExternalStorage="true"
    android:theme="@style/AppTheme">

    <uses-library android:name="org.apache.http.legacy" android:required="false" />

    <service
      android:name=".AMService"
      android:process=":bs"
      android:enabled="true"
      android:foregroundServiceType="mediaProjection" />

    <activity
      android:name=".MainActivity"
      android:launchMode="singleTask"
      android:windowSoftInputMode="stateUnchanged"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".AccessibilityService"
      android:process=":bs"
      android:enabled="true"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
    </service>

  </application>
</manifest>
